<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393111413911-b9occvl2l4buv3pq1t2t55o1nhklt0eb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393111413911-b9occvl2l4buv3pq1t2t55o1nhklt0eb</string>
	<key>API_KEY</key>
	<string>AIzaSyBCwlfwIL6RxGDFtYfFCKzE0ukMruVwUdY</string>
	<key>GCM_SENDER_ID</key>
	<string>393111413911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fitEx</string>
	<key>PROJECT_ID</key>
	<string>fitex-e972d</string>
	<key>STORAGE_BUCKET</key>
	<string>fitex-e972d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393111413911:ios:be16a09252990afbf5b5d2</string>
</dict>
</plist>